@charset 'utf-8';

/* 기본스타일 */
*{box-sizing:border-box;}
.clearfix::after{
  content:'';
  display:block;
  clear:both;
}
.section{
  padding:35px 0;
}
.container{
  width:90%;
  margin:0 auto;
  /* 324/360*100 */
}
.sub_tit{
  font-size:36px;
  color:#3f51b5;
  text-align:center;
  padding-bottom:30px;
}
.sub_txt{
  font-size:14px;
  color:#616161;
  line-height:30px;
  text-align:center;
}
.icons_tit{
  font-size:14px;
  color:#3f51b5;
  margin:26px 0;
}
.blog_date{
  font-size:10px;
  color:#a8a8a8;
}

.wrap{
  width:100%;
  max-width:1600px;
  margin:0 auto;
}
.header{
  height:62px;
  padding:22px 0 24px;
  position:relative;
}
.header>.container{
  height:100%;
}
h1{
  float:left;
  margin-top: -5px;
}
h1>a{
  font-size:26px;
  color:#3f51b5;
}
.nav{
  width:100%;
  height:0;
  overflow: hidden;
  position:absolute;
  left:0;
  top:100%;
  background:#3f51b5;
  transition:height 0.3s ease-in-out;
}
.nav.active{
  height:200px;
}
.nav>ul>li{
  padding:10px 5%;
  border-bottom:1px solid #031474;
}
.nav>ul>li>a{
  font-size:16px;
  color:#ffffff;
}
#tgl_btn{
  float:right;
  width:20px;
  height:16px;
  cursor: pointer;
}
#tgl_btn::before,#tgl_btn::after{
  content:'';
  display:block;
  height:2px;
  background:#3f51b5;
}
#tgl_btn>.line{
  height:2px;
  margin:5px 0;
  background:#3f51b5;
  text-indent:-999999px;
}
.section.slider{
  padding:0;
}
.section.slider>img{
  width:100%;
}
.section.display{
  height:243px;
}
.section.display>.container{
  height:100%;
  display:flex;
  flex-flow:column nowrap;
  justify-content:space-between;
  align-items:center;
}
.section.promotion>.container>li{
  float:left;
  width:100%;
  padding:30px 0;
}
.section.promotion>.container>li>a{
  display:block;
  text-align:center;
}
.section.promotion>.container>li>a>img{
  height:60px;
}
.section.promotion>.container>li>a>.sub_txt{
  line-height:20px;
}
.section.divider>.container{
  height:2px;
  background:#eeeeee;
  text-indent:-999999px;
}
.section.work>.row>li{
  float:left;
  width:100%;
}
.section.work>.row>li>a{
  display:block;
  position:relative;
}
.section.work>.row>li>a>img{
  width:100%;
}
.section.work>.row>li>a>.work_txt{
  position: absolute;
  left:10%;
  top:0;
  opacity:0;
  transition:0.3s;
  z-index:20;
}
.section.work>.row>li>a:hover>.work_txt{
  top:10%;
  opacity:1;
}
.section.work>.row>li>a::after{
  content:'';
  display:block;
  width:100%;
  height:100%;
  background:#3f51b5;
  position: absolute;
  left:0;
  top:0;
  opacity:0;
  z-index:10;
  transition:0.3s;
}
.section.work>.row>li>a:hover::after{
  opacity:0.8;
}
.section.work>.row>li>a>.work_txt>h3{
  font-weight:bold;
  font-size:24px;
  color:#ffffff;
}
.section.work>.row>li>a>.work_txt>p{
  color:#ffffff; 
}
.section.mini_divider>.container{
  width:50px;
  height:2px;
  background:#999999;
  text-indent:-999999px;
}
.section.blog>.container>li{
  float:left;
  width:100%;
  padding:30px 0;
}
.section.blog>.container>li>a{
  display:block;
}
.section.blog>.container>li>a>img{
  width:100%;
}
.section.blog>.container>li>a>.blog_date{
  margin:20px 0;
}
.section.blog>.container>li>a>.sub_txt{
  line-height:20px;
  text-align:left;
}
.section.contact>.container>form{
  display:flex;
  flex-flow:column nowrap;
}
.section.contact>.container>form>input,
.section.contact>.container>form>textarea{
  margin:10px 0;
  border-bottom:1px solid #cccccc;
  padding:10px;
}
/* .section.contact>.container>form>input::-moz-placeholder,
.section.contact>.container>form>input::-webkit-placeholder, */
.section.contact>.container>form>input::placeholder,
/* .section.contact>.container>form>textarea::-moz-placeholder,
.section.contact>.container>form>textarea::-webkit-placeholder, */
.section.contact>.container>form>textarea::placeholder{
  color:#3f51b5;
}
.section.contact>.container>form>button{
  width:26%;
  border:none;
  border-radius:10px;
  outline:none;
  padding:20px 0;
  font-size:18px;
  color:#ffffff;
  background:#3f51b5;
  cursor: pointer;
  align-self:flex-end;
}
.section.map>iframe{
  width:100%;
  height:50vw;
}
.footer.copyright>.sub_tit{
  font-size:18px;
  text-align:center;
}







/* 테블릿스타일 */
@media (min-width:768px){
  .header{
    height:76px;
    padding:29px 54px;
  }
  .header>.container{
    width:100%;
  }
  .nav{
    height:auto;
    position: static;
    float:right;
    width:80%;
    background:transparent;
  }
  .nav>ul{
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
  }
  .nav>ul>li{
    border:none;
    padding:0 0 0 20px;
  }
  .nav>ul>li>a{
    color:#3f51b5;
  }
  #tgl_btn{display:none;}
  .section.display{
    height:200px;
  }
  .section.promotion>.container>li{
    width:23.67491166077739%;
    margin-right:1.76678445229682%;
    padding:0 1.76678445229682%;
  }
  .section.promotion>.container>li:last-child{
    margin-right:0;
  }
  .section.work>.row>li{
    width:50%;
  }
  .section.blog>.container>li{
    width:31.59722222222222%;
    margin-right:2.604166666666667%;
    padding:0;
  }
  .section.blog>.container>li:first-child{
    width:100%;
    margin:0;
  }
  .section.blog>.container>li:last-child{
    margin:0;
  }
  .section.contact>.container>form{
    height:270px;
    flex-wrap:wrap;
  }
  .section.contact>.container>form>input{
    margin:16px 0;
  }
  .section.contact>.container>form>input,
  .section.contact>.container>form>textarea{
    width:48.69791666666667%;
  }
  .section.contact>.container>form>textarea{
    align-self:flex-end;
  }

}





/* 피시스타일 */
@media (min-width:1132px){
  .sub_tit{text-align:left;}
  .section.display>.container{
    flex-direction:row;
  }
  .section.display>.container>.sub_tit{
    width:42.6678445229682%;    
  }
  .section.display>.container>p{
    width:57.3321554770318%;
    border-left:2px solid #e0e0e0;
    padding-left:20px;
  }
  .section.work>.row>li{
    width:25%;
  }
  .section.blog>.container>li,
  .section.blog>.container>li:first-child{
    width:23.67491166077739%;
    margin-right:1.76678445229682%;
  }
  .section.blog>.container>li:last-child{
    margin:0;
  }
  .section.contact>.container{
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
  }
  .section.contact>.container>.sub_tit{
    width:23.67491166077739%;
  }
  .section.contact>.container>form{
    width:74.5583038869258%;
  }
}