@charset 'utf-8';

html,body,div,span,h1,h2,h3,h4,h5,h6,p,ul,ol,li,header,section,footer,article,nav,address,aside,form,input,label,textarea,select,option,fieldset,figcaption,figure,img,a,i,iframe{
  margin:0;border:none;padding:0;outline:none;font-size:14px;background:transparent;font-weight:normal;
}
body{font-family:'Roboto',Sans-serif;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color:#000000;}
img{vertical-align:top;}
